# Database
DATABASE_URL="postgresql://user:password@localhost:5432/sana3i?pgbouncer=true"

# Authentication (Must be a long, random string. Generate with: openssl rand -hex 32)
JWT_SECRET=""

# MyFatoorah Payment Gateway
MYFATOORAH_API_URL="https://apitest.myfatoorah.com" # Change to https://api.myfatoorah.com for production
MYFATOORAH_TOKEN=""

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
